
//
// VARIABLES
//

// Colors
$blue: #45ABC1; //#4183C4;
$orange: #F4B550; //#F6CF79;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$darkGray2: #666666;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$montserrat : 'Montserrat', sans-serif;
$nunito : 'Nunito Sans', sans-serif;
$quicksand : 'Quicksand', sans-serif;
$lato : 'Lato', sans-serif;
$raleway : 'Raleway', sans-serif;
$lucida : 'Lucida Sans', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}